# Ignore user files created by Rstudio
*.Rproj.user/*
*.Rproj.user
*.Rhistory
.RData
.Ruserdata

#Ignore all temporary build files created by LaTeX Compile:
Dissertation-blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.pdf

#Ignore jupyter notebook temporary files
*ipynb_checkpoints*
*.pyc

#Ignore all temporary and participant data files
**/temp_data/
**/part_files/
**/csv/
**/analyze_data/

#Ignore temporary other text processing files 
*.doc
*.docx

#Ignore temporary files created and tracked by PsychoPy
*_lastrun.py
.Rproj.user


