# Ignore user files created by Rstudio
*.Rapp.history
*.Rproj.user/*
*.Rproj.user
*.Rhistory
.RData
.Ruserdata
knitr.sty

#Ignore all temporary build files created by LaTeX Compile:
Dissertation-blx.bib
figure_table-blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.pdf
*.tex
*.bcf
**/cache
*.tdo

#Ignore jupyter notebook temporary files
*ipynb_checkpoints*
*.pyc

#Ignore all temporary and participant data files
**/temp_data/
**/part_files/
**/csv/
**/analyze_data/

#Ignore temporary other text processing files 
*.doc
*.docx

#Ignore temporary files created and tracked by PsychoPy
*_lastrun.py
.Rproj.user

#Ignore random trouble shooting files
/Statistics/Segmentation/Scratch_records.Rmd
pycharm-sorted.txt
pycharm.txt
rstudio-sorted.txt
rstudio.txt
Syllable_Segmentation.nb.html
.idea/
*.DS_Store

#Ignore misc files that will be deleted from directory at end of project
/Statistics/Demographics/scrap_work.r
/Scripts_Dissertation/participant_map_online.json
